.container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5158d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3f46a1;
}

.btn svg {
  margin-right: 8px;
}